.idea/
__pycache__/
src/config/
src/prompts/personalities/*
!src/prompts/personalities/cute.py
!src/prompts/personalities/mature.py
src/dist/
src/build/
src/main.spec
src/main_backdoor.py
exe/
src/run_backdoor.bat
src/.vscode/settings.json
tests/test_rag.py
settings.py
